@model List<NongSan.Models.New>
@{
    Layout = null;
    var pageInfo = ViewBag.PageInfo as NongSan.Models.Setting;
}


<section class="awe-section-7">

    <div class="section_new_blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2 class="title-head" title="Tin tức mới nhất">
                            <a href="tin-tuc" class="text_gradient">
                               Nhật ký sống xanh
                            </a>
                        </h2>
                    </div>
                    <div class="content_blog_new">
                        <div class="wrap_owl_blog owl-carousel" data-lg-items="3" data-md-items="3" data-sm-items="2" data-xs-items="1" data-loop="false" data-height="false" data-dot="false" data-nav="false">
                            @foreach (var item in Model)
                            {
                                <div class="blog_index">
                                    <div class="myblog">
                                        <div class="image-blog-left a-center">

                                            <a class="image-blog" href="/tin-tuc/@item.Slug-@item.Id" title="@item.Title">
                                                <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="@item.Thumbnail" alt="@item.Title">
                                            </a>

                                            <div class="date_blog">
                                                <i class="fa fa-calendar"></i><b class="color_main"> @item.DatePost.Value.ToString("dd/MM/yyyy")</b>
                                                &nbsp; Đăng bởi: <b class="color_main">Admin</b>
                                            </div>
                                        </div>
                                        <div class="content_blog">
                                            <div class="content_right">
                                                <h3>
                                                    <a href="/tin-tuc/@item.Slug-@item.Id" title="@item.Title">@item.Title</a>
                                                </h3>
                                            </div>
                                            <div class="summary_item_blog">
                                                <p> @item.ShortDescription...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



