@model List<NongSan.Models.CartItem>
@{
    ViewBag.Title = "Giỏ Hàng";
    var totalCart = NongSan.Models.ShoppingCart.Cart.CartTotal;
}

<div id="breadcrumb">
    <div class="container">
        <h2 class="title">Shopping Cart</h2>

        <ul class="breadcrumb">
            <li><a href="#" title="Home">Home</a></li>
            <li><span>Shopping Cart</span></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="page-cart">
        <div class="table-responsive">
            <table class="cart-summary table table-bordered">
                <thead>
                    <tr>
                        <th class="width-20">&nbsp;</th>
                        <th class="width-80 text-center">Image</th>
                        <th>Name</th>
                        <th class="width-100 text-center">Unit price</th>
                        <th class="width-100 text-center">Qty</th>
                        <th class="width-100 text-center">Total</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="productid-@item.Product.Id">
                            <td class="product-remove">
                                <a title="Remove this item" class="remove"  data-id="@item.Product.Id" href="javascript:;"  onclick="removeCart(this)" >
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                            <td>
                                <a href="product-detail-left-sidebar.html">
                                    <img width="80" alt="Product Image" class="img-responsive" src="@item.Product.Image">
                                </a>
                            </td>
                            <td>
                                <a href="product-detail-left-sidebar.html" class="product-name">Organic Strawberry Fruits</a>
                            </td>
                            <td class="text-center">
                                @item.Product.Price.ToString("#,##0")₫
                            </td>
                            <td>
                                <div class="product-quantity">
                                    <div class="qty">
                                        <div class="input-group">
                                            <input type="text" name="qty" readonly="readonly" id="qty_@item.Product.Id" value="@item.Quantity" data-min="1">
                                            <span class="adjust-qty">
                                                <span class="adjust-btn plus" data-id="@item.Product.Id" onclick="changeQuantity(this)">+</span>
                                                <span class="adjust-btn minus btn-minus" data-id="@item.Product.Id" onclick="changeQuantity(this)">-</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center cart-price-@item.Product.Id">
                               @item.TotalItem.ToString("#,##0") ₫
                            </td>
                        </tr>
                    }



                </tbody>

                <tfoot>
                   
                    <tr class="cart-total">
                        <td colspan="5" class="total text-right">Total</td>
                        <td  class="total text-center price_end">@NongSan.Models.ShoppingCart.Cart.CartTotal.ToString("#,##0") đ</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="checkout-btn">
            <a href="/Order/Payment" class="btn btn-primary pull-right" title="Proceed to checkout">
                <span>Proceed to checkout</span>
                <i class="fa fa-angle-right ml-xs"></i>
            </a>
        </div>
    </div>
</div>