@model List<NongSan.Models.DTO.ProductDTO>
@{
    Layout = null;
    var pageInfo = ViewBag.PageInfo as NongSan.Models.Setting;
}
<section class="awe-section-5">

    <section class="section_best_sale">
        <div class="container container_topProduct">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title_brand heading">
                        <h2 title="Sản phẩm bán chạy">
                            <a  class="text_gradient">Sản phẩm mới</a>
                        </h2>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                                <div class="product-box-h product-base">
                                    <div class="product-thumbnail">
                                        <a class="image_link display_flex" href="/san-pham/@item.Slug-@item.Id" title="@item.ProductName">
                                            <img class="lazyload loaded" src="@item.Image" data-src="@item.Image" alt="@item.ProductName" data-was-processed="true">
                                        </a>
                                        <div class="product-action hidden-xs">

                                            <div class="group_action">

                                                <button class="btn-buy btn-cart btn btn-circle left-to add_to_cart" data-name="@item.ProductName" data-id="@item.Id" data-image="@item.Image" data-price="@item.Price" title="Mua ngay" onclick="addToCart(this)">
                                                    <i class="fa fa-shopping-basket"></i>
                                                </button>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="product-info a-left">
                                        <h3 class="product-name"><a href="/san-pham/@item.Slug-@item.Id" title="@item.ProductName">@item.ProductName</a></h3>

                                        <div class="product-hideoff">
                                            <div class="product-hide">


                                                <div class="price-box clearfix">
                                                    <div class="special-price">
                                                        <span class="price product-price">@item.Price.ToString("#,##0") ₫</span>
                                                    </div>

                                                </div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
